* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f0e1;

}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, #4CAF50, #d4d49f);

}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-size: 17px;
}

footer li {
  margin: 0 15px;
}

footer a {
  color: black;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  transition: color 0.4s ease;

}

a:hover {
    color: #00f83e;
}