{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="{% static 'css/footerstyle.css' %}">
</head>
<body>
    <footer>
        <ul>
            <li><a href="">Sobre Nós</a></li>
            <li><a href="">Sustentabilidade</a></li>
            <li><a href="">Blog / Notícias</a></li>
            <li><a href="">Como Funciona</a></li>
            <li><a href="">Nossa Missão</a></li>
            <li><a href="">Fale Conosco</a></li>
        </ul>
    </footer>
</body>
</html>
