<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" 
                 path="*" 
                 verb="*" 
                 modules="FastCgiModule" 
                 scriptProcessor="C:\inetpub\wwwroot\aproveitemais-web\Projeto-Integrador-89-ws\venv\Scripts\python.exe|C:\inetpub\wwwroot\aproveitemais-web\Projeto-Integrador-89-ws\venv\Lib\site-packages\wfastcgi.py" 
                 resourceType="Unspecified" 
                 requireAccess="Script" />
        </handlers>
    </system.webServer>

    <appSettings>
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\aproveitemais-web\Projeto-Integrador-89-ws" />
        
        <add key="WSGI_HANDLER" value="projeto.wsgi.application" />
        <add key="DJANGO_SETTINGS_MODULE" value="projeto.settings" />
    </appSettings>
</configuration>