<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
    <handlers>
        <!-- O HttpPlatformHandler deve ser o primeiro handler a ser executado -->
        <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpPlatform processPath="C:\inetpub\wwwroot\Projeto-Integrador-89-ws\venv\Scripts\waitress-serve.exe"
                    arguments="--port=%HTTP_PLATFORM_PORT% projeto.wsgi:application"
                    stdoutLogEnabled="true"
                    stdoutLogFile="C:\inetpub\wwwroot\Projeto-Integrador-89-ws\logs\python_log"
                    startupTimeLimit="60"
                    responseBufferLimit="4096">
        <environmentVariables>
        <!-- Variáveis de ambiente que o Django precisa -->
        <environmentVariable name="DJANGO_SETTINGS_MODULE" value="projeto.settings" />
        <environmentVariable name="PYTHONPATH" value="C:\inetpub\wwwroot\Projeto-Integrador-89-ws" />
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <!-- Variáveis do .env podem ser replicadas aqui, ou o .env deve ser lido pelo Django -->
        </environmentVariables>
    </httpPlatform>
    
    <!-- Configuração para servir arquivos estáticos diretamente pelo IIS (Opcional, mas recomendado) -->
    <staticContent>
        <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
        <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    
    <!-- Redirecionamento para HTTPS (Se necessário) -->
    <!-- <rewrite>
        <rules>
        <rule name="HTTP to HTTPS" stopProcessing="true">
            <match url="(.*)" />
            <conditions>
            <add input="{HTTPS}" pattern="off" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
        </rules>
    </rewrite> -->
    
    </system.webServer>
</configuration>