header {
  background: linear-gradient(to right, #69dd96, #0e9725);
  color: white;
  padding: 1px;
  border-radius: 15px;
  margin: 20px; 
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

header .logo {
  height: 40px; 
}

header a h1 {
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  color: #ffffff;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

header .nav-link {
  color: white !important;
  transition: 0.3s ease;
}

header .nav-link:hover {
  opacity: 0.8;
}