    
    header {
      background: linear-gradient(to right, #70e0ff, #0072ff);
      color: white;
      padding: 5px;
      border-radius: 15px;
      margin: 20px;
    }

    .logo {
      height: 65px;
      padding-left: 10px;
    }

    h1 {
      font-size: 30px;
      font-family: 'Playfair Display', serif;
      color: #ffffff;
      font-weight: 700;
      text-shadow: 5px 2px 4px rgba(0, 0, 0, 0.3);
    }

    .nav-link {
      color: white;
      font-weight: 400;
      transition: 0.3s ease;
    }

    .nav-link i {
      margin-right: 10px;
      
    }

    .search-login-group {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-left: 400px;
    } 

    .form {
        display: flex;
    } 

