* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: 'Arial', sans-serif;
    background-color: #A5D6A7;
    color: #b9f39e;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
 
header {
    background-color: #2E7D32;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
h1 {
    margin: 0;
    padding: 50px;
    background: linear-gradient(to right,#2E7D32, hsl(122, 68%, 41%));
    color: white;
    text-align: center;
    font-size: 59px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
 
h1:hover {
    background: linear-gradient(to right, hsl(122, 68%, 41%), #2E7D32)
}

header nav {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 14px;
}
 
header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #2E7D32;
    border-radius: 8px;
    padding: 10px 20px;
}



header nav ul li {
    text-align: center;
}
 
header nav ul li a {
    background: #0c7019;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px 15px;
    display: block;                  
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
 
header nav ul li a:hover {
    background-color: #388E3C;
    color: #FFFFFF;
}
 
.imagem {
    width: 140px;
    height: 140px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 30px;
    border: 3px solid #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
 
main {
    padding: 20px;
    max-width: 900px;
    margin: 30px auto;
    background-color: #ffffffdc;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
 
article section {
    margin-bottom: 30px;
    padding: 20px;
    border-bottom: 1px solid #A5D6A7;
}
 
article section:last-child {
    border-bottom: none;
}
 
h2 {
    color: #2E7D32;
    font-size: 2.2em;
    margin-bottom: 15px;
    border-bottom: 3px solid #4CAF50;
    text-align: center;
}
 
.sobre p {
    font-size: 18px;
    color: #000;
    text-align: justify;
    line-height: 1.8;
}
 
footer {
    background-color: #2E7D32;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 0.6%;
 
}

