body{
    font-family: 'Arial', sans-serif;
    background-color: #A5D6A7;
    color: #333333;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
