:root {
    --primary-color: #5c8b6c;
    --secondary-color: #407254;
    --text-color-dark: #333;
    --text-color-light: #fff;
    --bg-light: #f4f4f4;
    --bg-white: #fff;
    --shadow-light: rgba(0, 0, 0, 0.1);
    --shadow-medium: rgba(0, 0, 0, 0.15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
