{% extends 'global/base.html' %} {% load static %} {% block content %}
<div class="body">
  {% block head %} <link rel="stylesheet" href="{% static "core/css/style.css"%}">
  <title>Bem-Vindo ao Aproveite +</title>
  {% endblock head %}

  <div class="main">
    <div class="main-header">
      <h1 class="main-title">Bem-Vindo ao Aproveite +</h1>
      <img
        class="inline-logo"
        src="{% static 'assets/img/logo.png' %}"
        alt="Logo Aproveite +"
      />
    </div>

    <section id="sobre" class="about">
      <h2 class="section-title">O que é o App Aproveite +?</h2>
      <p>
        O Aproveite +  é um aplicativo que conecta pessoas que têm alimentos
        sobrando com aqueles que precisam, contribuindo para um mundo mais
        sustentável.
      </p>

      <h2 class="section-title">Benefícios de Participar</h2>
    </section>

    <section id="beneficios-grid">
      <div class="benefits">
        <div class="benefit">
          <h3>Reduza o Desperdício</h3>
          <p>
            Ajude a evitar o desperdício de alimentos ao doar o que não está
            sendo consumido.
          </p>
        </div>
        <div class="benefit">
          <h3>Apoie a Comunidade</h3>
          <p>
            Contribua com quem precisa e fortaleça a solidariedade em sua
            comunidade.
          </p>
        </div>
        <div class="benefit">
          <h3>Impacto Ambiental</h3>
          <p>
            Menos desperdício de alimentos significa menos impacto ambiental e
            uma vida mais sustentável.
          </p>
        </div>
      </div>
    </section>

    <section id="acoes" class="actions">
      <h2 class="section-title">Como você pode ajudar</h2>
      <div class="action-button">
        {% if request.user.is_vendedor %}
          <a href="core:doacao" class="cta-button">Doar Alimentos</a>
        {% endif %}
      </div>
      <div class="action-button">
        <a href="{% url 'core:produtos' %}" class="cta-button">Pedir Alimentos</a>
      </div>
    </section>
  </div>
</div>

{% endblock content %}
