{% extends 'global/base.html' %} 
{% load static %} 

{% block content %}
<div class="body">
  {% block head %} <link rel="stylesheet" href="{% static "core/css/style.css"%}">
  <title>Bem-Vindo ao Aproveite +</title>
  {% endblock head %}

  <div class="main">
    <div class="main-header">
      <h1 class="main-title">Bem-Vindo ao Aproveite +</h1>
      {% comment %} <img
        class="inline-logo"
        src="{% static 'assets/img/logo.png' %}"
        alt="Logo Aproveite +"
      /> {% endcomment %}
    </div>

    <section id="sobre" class="about">
      <h2 class="section-title">O que é Aproveite +?</h2>
      <p>
        O Aproveite+ é uma plataforma inovadora que facilita a conexão entre pessoas com alimentos excedentes e aquelas em situação de necessidade, promovendo a redução do desperdício e incentivando práticas sustentáveis para um futuro mais consciente.
      </p>

      <h2 class="section-title">Benefícios de Participar</h2>
    </section>

    <section id="beneficios-grid">
      <div class="benefits">
        <div class="benefit">
          <h3>Reduza o Desperdício</h3>
          <p>
            Ajude a evitar o desperdício de alimentos ao doar o que não está
            sendo consumido.
          </p>
        </div>
        <div class="benefit">
          <h3>Apoie a Comunidade</h3>
          <p>
            Contribua com quem precisa e fortaleça a solidariedade em sua
            comunidade.
          </p>
        </div>
        <div class="benefit">
          <h3>Impacto Ambiental</h3>
          <p>
            Menos desperdício de alimentos significa menos impacto ambiental e
            uma vida mais sustentável.
          </p>
        </div>
      </div>
    </section>

    <section id="pacotes-surpresa" class="surprise-packages">
      <h2 class="section-title">Pacotes Surpresa Disponíveis</h2>
      <div class="row">
        {% for pacote in pacotes_surpresa %}
        <div class="col-md-4 mb-4">
          <div class="card h-100 shadow-sm">
            <img src="{{ pacote.imagem.url }}" class="card-img-top" alt="{{ pacote.nome }}">
            <div class="card-body">
              <h5 class="card-title">{{ pacote.nome }}</h5>
              <p class="card-text">{{ pacote.descricao|truncatechars:100 }}</p>
              <p class="card-text"><strong>Tipo de Conteúdo:</strong> {{ pacote.tipo_conteudo }}</p>
              <p class="card-text"><strong>Preço:</strong> R$ {{ pacote.preco|floatformat:2 }}</p>
              <a href={% url 'core:produto_quick_view' produto.id %} class="btn btn-primary">Ver Detalhes</a>
            </div>
          </div>
        </div>
        {% empty %}
        <p class="text-center">Nenhum pacote surpresa disponível no momento.</p>
        {% endfor %}
      </div>
    </section>

    <section id="acoes" class="actions">
      <h2 class="section-title">Como você pode ajudar</h2>
      <div class="action-button">
        {% if request.user.is_vendedor %}
          <a href="core:doacao" class="cta-button">Doar Alimentos</a>
        {% endif %}
      </div>
      <div class="action-button">
        <a href="{% url 'core:produtos' %}" class="cta-button">Pedir Alimentos</a>
      </div>
    </section>
  </div>
</div>

{% endblock content %}