{% extends 'global/base.html' %}
{% load static %}




{% block content %}  
{% block head %}
    <title>Aproveite+ - Produtos</title>
    <link rel="stylesheet" href="{% static 'core/css/style_produto.css' %}" />
    <script src="{% static 'core/js/produtos.js' %}"></script>
{% endblock head %}
<div id="produtos" class="container mt-5">
    <h2 class="text-center mb-4">Produtos em Oferta</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for produto in page_obj %}
            {% empty %}
            <p class="text-center">Nenhum produto disponível no momento.</p>
        {% endfor %}
    </div>
</div>
{% endblock content %}
