{% extends 'global/base.html' %}
{% load static %}

{% block content %}
    {% block head %}
        <title>Resultados da Busca</title>
        <link rel="stylesheet" href="{% static 'core/css/style_busca.css' %}">
    {% endblock head %}
   
    <h2 class="busca">Resultados para "{{ termo }}"</h2>
   
    <ul class="busca">
        {% for produto in resultados %}
        <li class="busca">
            <strong>{{ produto.nome }}</strong>
            <span>Preço: R$ {{ produto.preco }}</span>
        </li>
        {% empty %}
        <li class="empty busca">
            <strong>Nenhum produto encontrado</strong>
            <span>Não encontramos nenhum produto com o nome "{{ termo }}".</span>
        </li>
        {% endfor %}
    </ul>
{% endblock content %}