
{% extends 'global/base.html' %}
{% load static %}
{% block conteudologin %} 

{% block head %}
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'core/css/style_login.css' %}">
{% endblock head %}
<div class="logincontainer"> 

    <div class="login-box">
        <h2 class="login-title">Entrar</h2>
    
        <form id="login-form" method="post" action="{% url 'core:telalogin' %}">
            {% csrf_token %}
            <label id="id_username" for="id_email" class="form-label">E-mail</label>
            <input type="email" name="email" id="id_email" class="text-input" required>
    
            <label id="id_password"  for="id_password" class="form-label">Senha</label>
            <input type="password" name="password" id="id_password" class="password-input" required>
    
            <button type="submit" class="submit-btn">Entrar</button>
        </form>
        
        {% if mensagem %}
            <p style="color: red;">{{ mensagem }}</p>
        {% endif %}
    
        <div class="extra-links">
            <ul>
                <li><a href="{% url 'core:cadastro' %}">Criar conta</a></li>
                <li><a href="{% url 'core:recuperar-senha' %}">Esqueci minha senha</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock conteudologin %}