{% extends 'global/base.html' %}
{% load static %}

{% block content %}
{% block head %}
  <title>Time Desenvolvedores</title>
  <link rel="stylesheet" href="{% static 'core/css/style_timedev.css' %}">
{% endblock head %}


<a href="https://ww3.ms.senac.br/"><img class="logosenac" src="{% static 'core/img/logosenac.png' %}" alt=""></a>
<section class="container-fluid">
<div>
<h1>Time de Desenvolvimento</h1>
</div>

    <div class="container container-fluid">
        <div class="caixa">
        {% for pessoa in equipe %}
        <div class="aluno1">
            
            <a href="{{pessoa.link_git}}.png"><img class="fotos-alunos" src="{{pessoa.link_git}}.png" alt=""></a>
            <h3>{{pessoa.nome}}</h3>
            <p><a href="{{ pessoa.link_git}}">Saiba mais sobre-mim</a></p>
            
        </div>
        </div>
        {% endfor %}
    </div>
    </section>

    {% endblock %}
