{% load static %}

{% block head %}
<link rel="stylesheet" href={% static "assets/css/footerstyle.css" %}>
{% endblock head %}



<footer class="cor-bg text-muted mt-auto py-5">
  <div class="container">
    <div class="row">


      <div class="mb-4 text-center text-md-start">
        <img src={% static "assets/img/logo.png" %} alt="Logo" class="img-fluid mb-2" style="max-width: 120px;">
        <p class="mb-0">© 2025 Sustentabilidade Alimentar</p>
      </div>


      <div class="col-6 col-md-3 mb-4">
        <h5>Receitas</h5>
        <ul class="nav flex-column">
          <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Bolonhesa</a></li>
          <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Lasanha</a></li>
          <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Bolo de Morango</a></li>
          <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Macarronada</a></li>
          <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Estrogonoff</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-3 mb-4">
        <h5>Sobre Nós</h5>
        <ul class="nav flex-column">
          <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Nosso Propósito</a></li>
          <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Alcance do Projeto</a></li>
          <li class="nav-item"><a href={% url "contato" %} class="nav-link p-0 text-muted">Fale conosco</a></li>
          <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Parceiros</a></li>
          <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Turma de Desenvolvimento</a></li>
        </ul>
      </div>


      <div class="col-6 col-md-3 mb-4">
        <h5>Produtos e Serviços</h5>
        <ul class="nav flex-column">
          <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Loja Sustentável</a></li>
          <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Cestas Orgânicas</a></li>
          <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Consultoria Alimentar</a></li>
          <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Programas Educacionais</a></li>
          <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Acessibilidade Alimentar</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>