{% load static %}

{% block head %}
{% endblock head %}

  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <div class="d-flex align-items-center divlogo">
          <a href={% url "index" %}>
            <img src={% static "assets/img/logo.png" %} alt="logo" class="logo me-2">
            <h1> Aproveite+</h1>
          </a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuHamburguer" aria-controls="menuHamburguer" aria-expanded="false" aria-label="Toggle navigation">
          <p class="navbar-toggler-icon"> </p>
        </button>

        <div class="collapse navbar-collapse" id="menuHamburguer">


          <ul class="navbar-nav d-flex align-items-center mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href={% url "receitas" %}><i class="bi bi-egg-fried"></i>Receitas</a></li>
            <li class="nav-item"><a class="nav-link" href={% url "videos" %}><i class="bi bi-collection-play"></i>Videos</a></li>
            <li class="nav-item"><a class="nav-link" href={% url "produtos" %}><i class="bi bi-wallet2"></i>Produtos</a></li>

            <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/admin"><i class="bi bi-shop"></i>ADMIN</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-basket"></i>Mercado</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-recycle"></i>Dicas Sustentáveis</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-person-circle"></i>Meu Perfil</a></li>
          </ul>

          <div class="search-login-group ms-lg-3">
            <form class="d-flex" role="search" method='get' action={% url "buscar_produtos" %}>
              {% csrf_token %}
              <input class="form-control me-2" type="search" placeholder="Pesquisar..." aria-label="Pesquisar" name="termo">
              <button class="btn btn-light" type="submit"><i class="bi bi-search"></i></button>
            </form>

            <div class="d-flex text-center">
              <a href={% url "telalogin" %} class="btn btn-success me-2"><i class="bi bi-box-arrow-in-right"></i> Login</a>
              <a href={% url "cadastro" %} class="btn btn-outline-light"><i class="bi bi-person-plus"></i> Cadastre-se</a>
            </div>



            <div class="search-login-group ms-lg-3">

                {% if user.is_authenticated %}
                    <span class="navbar-text me-3" >
                        Olá, 
                        {% if user.perfil.nome_negocio %}
                            {{ user.perfil.nome_negocio }}
                        {% else %}
                            {{ user.username }}
                        {% endif %}
                        !
                    </span>

                    <a href="{% url 'logout' %}" class="btn btn-danger">
                        <i class="bi bi-box-arrow-right"></i> Sair
                    </a>

                {% else %}
                    <a href="{% url 'telalogin' %}" class="btn btn-primary me-2">
                        <i class="bi bi-box-arrow-in-right"></i> Login
                    </a>
                    <a href="{% url 'cadastro' %}" class="btn btn-success">
                        Cadastre-se
                    </a>
                
                {% endif %}

            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>


