body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0fdf4; /* Verde bem claro */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container-fluid {
  text-align: center;
}

.caixa{
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 100, 0, 0.2);
  max-width: 500px;
  width: 100%;
  max-height: 700px ;
  margin: auto;
}
h1 {
    font-family: "Manrope", sans-serif;
    font-family: "Manrope", sans-serif;   
    font-optical-sizing: auto;   
    font-weight: weight;   
    font-style: normal;
}
h2 {
  color: #2f855a;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  text-align: left;
  font-weight: bold;
  color: #2f855a;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

input:focus {
  border-color: #38a169;
  outline: none;
  box-shadow: 0 0 4px #c6f6d5;
}

button {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #38a169;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2f855a;
}

.voltar {
  margin-top: 20px;
}

.voltar a {
  text-decoration: none;
  color: #2f855a;
  font-weight: bold;
}

.voltar a:hover {
  text-decoration: underline;
}
