@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.body_contato {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #aacdb4 100%);
    min-height: 100vh;
}

.body_contato  .container {
    display: flex;
    justify-content: flex-start; /* Alinhando a imagem à esquerda */
    align-items: flex-start;
    margin: 100px auto;
    width: 90%;
    max-width: 1100px;
    gap: 30px;
}

.body_contato .imagem-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.body_contato  .imagem-contato {
    width: 100%;
    max-width: 250px; /* Tamanho menor para a imagem */
    height: 200px; /* Esticando a imagem para ser mais alta */
    object-fit: cover; /* Para a imagem cobrir o espaço sem distorcer */
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.body_contato  .formulario {
    background: #fff;
    padding: 40px;
    flex: 2; /* Aumentando o tamanho do formulário */
    border-radius: 10px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
    max-width: 650px; /* Tornando o formulário maior */
    margin-left: 30px;
}

.body_contato  fieldset {
    border: 2px solid #5c8b6c;
    padding: 24px;
    border-radius: 10px;
}

.body_contato  legend {
    font-weight: bold;
    font-size: 22px;
    color: #5c8b6c;
    margin-bottom: 16px;
}

.body_contato label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #333;
}

.body_contato input,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    resize: vertical;
}

input:focus,
textarea:focus {
    border-color: #5c8b6c;
    outline: none;
    box-shadow: 0 0 5px #5c8b6c;
}

.body_contato button {
    padding: 12px 20px;
    background-color: #5c8b6c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.body_contato button:hover {
    background-color: #407254;
}

.body_contato .redes {
    background: #5c8b6c;
    color: white;
    padding: 32px;
    width: 250px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

.body_contato .redes h2 {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 700;
}

.body_contato .redes-sociais {
    list-style-type: none;
    padding: 0;
}

.body_contato .redes-sociais li {
    margin-bottom: 12px;
}

.body_contato .redes-sociais a {
    display: inline-block;
    width: 100%;
    padding: 12px;
    color: #fff;
    background-color: #407254;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.body_contato .redes-sociais .fab {
    width: 30px;
    font-size: 20px;
    margin-right: 8px;
}

.redes-sociais a:hover {
    background-color: #46795a;
    color: #e0e0e0;
}

@media (max-width: 900px) {
    .body_contato .container {
        flex-direction: column;
        align-items: center;
    }

    .body_contato .imagem-container {
        margin-bottom: 30px;
    }

    .body_contato .formulario,
    .redes {
        width: 100%;
        margin-left: 0;
    }

    .body_contato .formulario {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }

    .body_contato .redes {
        margin-top: 30px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }
}