@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     background: linear-gradient(to right, #aacdb4 50%, #5c8b6c 50%);
}

.container {
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     width: 100%;
     margin-top: 200px;
}

.formulario {
     font-family: 'Roboto', sans-serif;
     background: #fff;
     padding: 32px;
     width: 50%;
     max-width: 600px;
     border-radius: 0 10px 10px 0;
     box-shadow: 2px 0 10px rgba(0, 0, 0, 1);
}

fieldset {
     border: 2px solid #5c8b6c;
     padding: 24px;
     border-radius: 10px;
}

legend {
     font-weight: bold;
     font-size: 19.2px;
     color: #5c8b6c;
}

input,
textarea {
     width: 100%;
     padding: 8px;
     margin-top: 5px;
     margin-bottom: 16px;
     border: 1px solid #ccc;
     border-radius: 5px;
}

button {
     padding: 8px 16px;
     background-color: #5c8b6c;
     color: #fff;
     border: none;
     border-radius: 5px;
     cursor: pointer;
}

button:hover {
     background-color: #407254;
}

.redes {
     background: #5c8b6c;
     color: white;
     padding: 32px;
     width: 50%;
     max-width: 400px;
     border-radius: 10px 0 0 10px;
     box-shadow: -2px 0 10px rgba(0, 0, 0, 1);
     text-align: center;
     align-self: stretch;
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.redes h2 {
     font-family: 'Roboto', sans-serif;
     margin-bottom: 16px;
}

.redes-sociais {
     list-style-type: none;
}

.redes-sociais li {
     margin-bottom: 10px;
}

.redes-sociais a {
     font-family: 'Roboto', sans-serif;
     display: block;
     color: #fff;
     background-color: #407254;
     border-radius: 5px;
     text-decoration: none;
     transition: background-color 0.3s ease;
}

.redes-sociais li a:hover {
     background-color: #2e5a3f;
     color: #000;
}