body {
    background-color: rgb(17, 240, 240);
}

header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(90deg, #8bf1e9, #73cf73);
  box-shadow: 2px 5px rgba(0, 0, 0, 0.1);
}

header a {
    margin: 15px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 25px;
    color: #ffffff;
    align-items: center;
    text-decoration: none;
}

h1 { 
    font-family: 'Segoe UI', sans-serif;
    font-size: 30px;
    color: #2c3e50;
    margin: 10px 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 60px;
  margin-right: 10px; 
}

.logo h1 {

  font-size: 20px;
  color: #2c3e50;
  font-family: 'Segoe UI', sans-serif;
}







