.produtos .body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cor-6);

}

.produtos header {
    background-color: var(--cor-9); 
    color: rgb(255, 0, 0);
    padding: 20px;
}

.produtos header h1 {
    margin: 0;
}

.produtos nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.produtos nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.produtos main {
    padding: 40px 20px;
}

.produtos main h2 {
    text-align: center;
    color: var(--cor-8);
    margin-bottom: 30px;
}

.produtos .produtos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.produtos .produto {
    background-color: white;
    border: 2px solid var(--cor-7); 
    border-radius: 10px;
    width: 250px;
    text-align: center;
    padding: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.produtos .produto:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.produtos .produto img {
    width: 50%;
    border-radius: 8px;
}

.produtos .produto h3 {
    margin: 10px 0 5px;
    color: var(--cor-5); 
}

.produto p {
    font-size: 14px;
    color: #444;
}


.produtos footer {
    background-color: var(--cor-8); 
    color: white;
    text-align: center;
    padding: 15px;
}