.caixa {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center; 
}

a {
    text-decoration: none;
    color: #38a169;
}

.container {
    display: flex;
}

.fotos-alunos {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover; 
  margin-bottom: 10px;
}

.aluno {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 100%; 
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;

}

.logosenac {
    width: 100px;
    height: 100px;
}

.logo-container {
    text-align: center;
    margin: 20px 0; 
}

@media (max-width: 992px) {
  .caixa {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .caixa {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .caixa {
    grid-template-columns: 1fr;
  }
}