.doacao p{
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 20px;
}

h1{
    text-align: center;
}
.doacao .ongs{
    max-width: 700px;
    background-color: #daf7dd;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 15px 30px;
    margin: 20px;
}
.container-doacao{
    background-color: white;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 0 6px 12px var(--shadow-medium);
}
.doacao .inf_ongs{
    background-color: rgb(242, 255, 240);
    max-width: 700px;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
}
h2{
    padding: 20px;
    text-align: center;
}
.doacao .ong_img{
    border-radius: 15px;
}

.doacao .caixa {
    display: flex;
    align-items: center;
    flex-direction: column;
}
h3{
    padding: 20px;
}
.doacao .col-auto{
    padding-bottom: 20px;
}