{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href= "{% static "core/stylelogin.css" %}"> 

</head>
<body>
      <div class="login-container">
        <h2>Login</h2>

        <div class="error">Usuário ou senha inválidos.</div>

        <form method="post" action="/autenticar">
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Entrar</button>
        </form>
         <a href="{% url "alteracaosenha" %}" class="change-password-btn"> alterar senha</a>
    </div>
</body>
</html>


</body>
</html>